[submodule "sdk"]
	path = sdk
	url = https://github.com/geode-sdk/sdk
[submodule "imgui/imgui"]
	path = imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "api"]
	path = api
	url = https://github.com/geode-sdk/api
